AFS_ALLOW_REMOTE_LLM=false
AFS_MODEL_PROVIDER=mock
AFS_OPENAI_BASE_URL=
AFS_OPENAI_API_KEY=
AFS_OPENAI_MODEL=
AFS_ALLOW_REMOTE_IMAGE=false
AFS_ALLOW_REMOTE_VIDEO=false
AFS_ALLOW_REMOTE_ASR=false
AFS_IMAGE_PROVIDER=openai_compatible
AFS_IMAGE_BASE_URL=
AFS_IMAGE_API_KEY=
AFS_IMAGE_MODEL=

FFMPEG_BINARY=ffmpeg
FFPROBE_BINARY=ffprobe
